@model SimpleManagerContact.portal.Models.Login

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Index Simple Manager Contact </title>
</head>
<body>
    <style type="text/css">
        #centro {
	        width:200px;
	        height:100px;
	        position:absolute;
	        top:50%;
	        left:50%;
	        margin-top:-50px;
	        margin-left:-150px;
        }
    </style>
    <div id="centro">
        @using (Ajax.BeginForm("Authentication", "Login", null,
                new AjaxOptions()
                {
                    HttpMethod = "POST",
                    OnFailure = "submitFailureDefault",
                    OnSuccess = "submitSuccess"
                },
                new { id = "loginForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="row" style="margin-bottom:5px">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.UserName)
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(m => m.UserName)
                </div>
                @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "text-danger" })
            </div>
            <div class="row" style="margin-bottom:5px">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Password)
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(m => m.Password)
                </div>
                @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
            </div>
            <div class="row" style="margin-bottom:5px">
                <div class="col-md-2">
                    &nbsp;
                </div>
            </div>
            <div class="row" style="margin-bottom:5px">
                <div class="col-md-4">
                    &nbsp;
                </div>
                <div class="col-md-4">
                    <button id="btnLogin" type="button" class="btn-default" onclick="$('#loginForm').submit()">
                        @Resources.Resource.ResourceManager.GetString("Label_Logar")
                    </button>
                </div>
            </div>
        }
    </div>
</body>
</html>



@section Scripts {
<script>

    function submitSuccess(data, status, xhr) {
        
        if (data.success) {
            window.location = data.data;
        }
        else {
            alert(data.message);
        }
    }

    $('#btnLogin').click(function (e) {
        e.preventDefault();
        if ($("#loginForm").valid()) {
            return false;
        }
        else {
            return false;
        }
    });

</script>
}
