@model List<SimpleManagerContact.model.Client>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Customer List</h2>
    <a class="btn btn-secondary btn-sm" href="@Url.Action("Logoff", "Home")" role="button">Logoff</a>
</div>


<div class="row" style="padding-left:60px; padding-right:60px;">
    <div class="col-md-10">
        <form id="CustomerListFieldsForm">
            <div class="row" style="margin-bottom:5px">
                <div class="col-md-2">
                    @Html.Label("Name")
                </div>
                <div class="col-md-4">
                    @Html.TextBox("Name")
                </div>
                <div class="col-md-1">
                    @Html.Label("Gender")
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("Gender", new List<SelectListItem>() {
                        new SelectListItem(){ Value="", Text="Select" },
                        new SelectListItem(){ Value="M", Text="Male" },
                        new SelectListItem(){ Value="F", Text="Female" }
                    }, new { @id = "Gender" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px">
                <div class="col-md-2">
                    @Html.Label("City")
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("City", (IEnumerable<SelectListItem>)ViewBag.Cities, null, new { @id = "City" })
                </div>
                <div class="col-md-1">
                    @Html.Label("Region")
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("Region", Enumerable.Empty<SelectListItem>(), null, new { @id = "Region" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px">
                <div class="col-md-2">
                    @Html.Label("LastPurchase")
                </div>
                <div class="col-md-4">
                    @Html.TextBox("LastPurchase", null, new { @id = "LastPurchase" })
                </div>
                <div class="col-md-1">
                    @Html.Label("Until")
                </div>
                <div class="col-md-4">
                    @Html.TextBox("Until", null, new { @id = "Until" })
                </div>
            </div>
            <div class="row" style="margin-bottom:5px">
                <div class="col-md-2">
                    @Html.Label("Classification")
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("Classification", (IEnumerable<SelectListItem>)ViewBag.Classifications, null, new { @id = "Classification" })
                </div>
                @if (ViewBag.Administrator)
                {
                    <div class="col-md-1">
                        @Html.Label("Sellers")
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownList("Sellers", (IEnumerable<SelectListItem>)ViewBag.Sellers, null, new { @id = "Sellers" })
                    </div>
                }
            </div>
        </form>
    </div>
    <div class="col-md-2">
        <div class="row" style="margin-bottom:5px">
            <input id="btnSearch" class="btn btn-default" style="min-width:120px" type="button" value="Search">
        </div>
        <div class="row" style="margin-bottom:5px">
            <input id="btnClear" class="btn btn-default" style="min-width:120px" type="button" value="Clear Field">
        </div>
    </div>
</div>

<div class="table-customer" style="margin-top:50px">
    @*Table contacts*@
</div>

@section Scripts {
<script>

    $(document).ready(function () {
        $("#LastPurchase").datepicker({ dateFormat: 'mm/dd/yy' });
        $("#Until").datepicker({ dateFormat: 'mm/dd/yy' });
        updateRegions();
    });

    $("#City").change(function () {
        updateRegions();
    });

    function updateRegions()
    {
        var CityId = $('#City').find(":selected").val();

        $.ajax({
            type: "POST",
            async: false,
            url: '@Url.Action("UpdateRegions", "Home")',
            dataType: "json",
            data:
            {
                CityId: CityId
            },
            success: function (result) {
                if (result.success) {
                    updatingRegions(result.data);
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function updatingRegions(data)
    {
        $('#Region').empty();

        $.each(data, function (idx, obj) {
            $('#Region').append(
                $('<option></option>').val(obj['Value']).html(obj['Text'])
            );
        });
    }

    $('#btnClear').click(function (e) {

        var data = $('#CustomerListFieldsForm').serializeFormToJSON();
        $.each(data, function (index, value) {
            debugger;
            $("#" + index).val("");
        });

    });

    updatingContacts()
    $('#btnSearch').click(function (e) {
        updatingContacts();
    });

    function updatingContacts() {
        var fields = $('#CustomerListFieldsForm').serializeFormToJSON();
        var success = false;

        $.ajax({
            type: "POST",
            async: false,
            url: '@Url.Action("CustomerFilter", "Home")',
            dataType: "html",
            data:
            {
                fields: fields
            },
            success: function (result) {
                $(".table-customer").html(result)
            },
            error: function (error) {
                console.log(error);
            }
        });

        return success;
    }

</script>
}